
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#5f5d9c;
    --color-secundario:#6196a6;
    --color-terciario: #a4ce95;
    --color-hover:  #22d4fd;

    --fuente-montserrat:'montserrat',sans serif;
    --fuente-krona:'krona one', sans serif;
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--color-primario);
    color: var(--color var(--color-secundario));
    box-sizing: border-box;
}
.header{
    padding: 2% 0% 0% 15%
;}

.header_menu{
    display: flex;
    gap: 80px;

}   

.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5 rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 82px;
}
.presentacion_contenido{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2.2 rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
  color:var(--color-terciario);
}
.presentacion_contenido_texto{
    font-family: var(--fuente-montserrat);
    font-size: 1.5 rem;
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5 rem;
    font-weight: 400;
    
}
.presentacion_enlaces_link{
    display: flex;
    text-align: center;
    gap: 16px;
    border: 2px solid var(--color-terciario);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5 rem;
    font-weight: 600;
    padding: 21,5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);   
    justify-content: center;
  
}

.presentacion_enlaces_link:hover{

    background-color:var(--color-hover)
}

.presentacion_imagen{
    width: 50%;
   
}
.footer{
    background-color: var(--color-terciario);
    padding: 1.5 rem;    
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5 rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .presentacion {
        flex-direction: column-reverse;
           }
        
}